
<nav class="navbar navbar-expand-lg ">
    <div class="container-fluid">
        <a class="navbar-brand text-white " href="#"
            (click)="onDash()" style="font-size: larger;">Dashboard</a>

        <div class="navbar-nav text-white text-2xl ">
            <button class="nav-link active text-white text-3xl"
                aria-current="page"
                href="#" (click)="onProfile()">Profile</button>
            <button class="nav-link text-white" href="#"
                (click)="onHistory()">Histroy</button>
            <button class="nav-link  text-white" aria-disabled="true"
                (click)="onLogout()">Logout</button>

        </div>
    </div>
</nav>